# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/ipch
/VolumeRendering_cp1/Debug
*.db
/VolumeRendering_cp1.VC.VC.opendb
/Release
/VolumeRendering_cp1/Release
